@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}

*,
*::after,
*::before {
  font-family: "Poppins", "sans-serif";
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
